
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --background-color:#fffffe;
    --alt-background-color:#094067;
    --text-color: #094067;
    --alt-text-color:#fffffe;
    --text-color-light:#f1f1f1;
   
    --border-color:#E5E7EB;
    --form-invalid-color:#ef4565;
    --form-focus-color:#3da9fc;
    --placeholder-color:#90b4ce;

    --button-color:#FA5246;
    --button-hover-color:#d33827;
    --button-font-size:24px;
    --button-text-color:#FFF;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: row wrap;
    font-size: 28px;
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    background-color: var(--alt-background-color);
}
a{
    text-decoration: none;
    color: var(--button-color);
    font-weight: bold;
    transition: color .2s;
}
a:hover{
    color:var(--button-hover-color)
}



/* BACKGROUND SIDE */
.bg-side{
    background: url(../image/mcOS-BS1.png);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    width: 30vw;
}
.bg-img{
    width: 100%;
    height: 100vh;
}
.on-bg{
    position: absolute;
    width: 100%;
    top:0;
    /* display: flex;
    flex-direction: column; */
    text-align: center;
    /* height: 100vh; */
    /* justify-content: space-between; */
}
.logo{
    /* background: rgb(255 255 255 / 60%); */
    font-size: 6rem;
    /* font-weight: bold; */
    color: #ffffff;
    padding: 5vh;
    text-align: center;
}
.credit{
    margin-bottom: 8px;
    font-size: 0.8rem;
    text-align: center;
    color: var(--text-color-light);
}


/* FORM SIDE */
.sign-up_form{
    background-color: var(--alt-background-color);
    width: 70vw;
}
.form-title, .form-submit{
    color: var(--alt-text-color) ;
    background-color: var(--alt-background-color);
}


/* FORM TITLE */
.form-title{
    padding:128px 180px 64px 64px;
}
.form-title p{
    font-size:34px;
    margin: 0px 0px 64px;
}
.form-title p > strong{
    color: #fba944;
}
.form-title span{
    font-size: 28px;
}


/* INPUT FIELD */
.form-input{
    background-color: var(--background-color);
    padding:48px 64px;
    display: flex;
    flex-wrap: wrap;
}
.form-input_title{
    color: var(--text-color);
    width: 100%;
    margin-bottom: 24px;
    font-weight: bold;
}
div.input{
    display: flex;
    flex-direction: column; 
    width: 35%;
    margin:24px 128px 0px 0px;
}
div.input label{
    font-size: 18px;
    font-weight: bold;
}


/* INPUT CONTROL - VALIDATION */
.form-input input{
    padding:8px;
    border: 1px solid #E5E7EB;
    border-radius:5px;
    font-size: 16px;
    transition: border .2s;
    -webkit-appearance: none;
}
.form-input input::placeholder{
    color: var(--placeholder-color);
}
.form-input input:hover{
    /* animation: bigger 10s linear; */
    border: 1px solid var(--form-focus-color);
}
.form-input input:focus{
    outline: none;
    border: 1px solid var(--form-focus-color);
}
.form-input input:focus:invalid, .form-input input:out-of-range{
    border: 1px solid var(--form-invalid-color);
    color: var(--form-invalid-color);
    box-shadow: none;
}

/* SUBMIT FIELD */
.form-submit{
    padding:64px;
    display: flex;
    flex-direction: column;
}
.submit-btn{
    width: 300px;
    background-color: var(--button-color);
    font-size: var(--button-font-size);
    color: var(--button-text-color);
    border: none;
    border-radius: 10px;
    padding: 8px;
    transition: background-color .2s;
}
.submit-btn:hover{
    background-color: var(--button-hover-color);
    color: var(--button-text-color);
}
.log-in{
    margin-top: 24px;
    font-size: 20px;
}

/* ANIMATIONS */
@keyframes bigger{
    0%{scale: 1;}
    50%{scale:1.05}
    100%{scale:1}
}