
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --text-color: #1d1d1d;
    --text-color-light:#f1f1f1;
    --button-color:#619dc8;
    --border-color:#E5E7EB;
    --button-font-size:24px;
    --button-text-color:#FFF;
    --form-invalid-color:#D55C5F;
    --form-focus-color:rgb(16, 106, 223);
}
body{
    display: flex;
    flex-direction: row;
    font-size: 28px;
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
    color: var(--button-color);
    font-weight: bold;
}



/* BACKGROUND SIDE */
.bg-side{
    position: relative;
    width: 80vw;
}
.bg-img{
    width: 100%;
    height: 100vh;
}
.on-bg{
    position: absolute;
    width: 100%;
    top:20vh;
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: space-between;
}
.logo{
    background: rgb(255 255 255 / 60%);
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
    padding: 5vh;
    text-align: center;
}
.credit{
    margin-bottom: 8px;
    font-size: 1rem;
    text-align: center;
    color: var(--text-color-light);
}


/* FORM SIDE */
.sign-up_form{
    background-color: #f3f3f3;
    height: 100vh;
}
.form-title, .form-submit{
    background-color: #f3f3f3;
}


/* FORM TITLE */
.form-title{
    padding:128px 180px 64px 64px;
}
.form-title p{
    margin: 0px 0px 64px;
}


/* INPUT FIELD */
.form-input{
    background-color: #FFF;
    padding:48px 64px;
    display: flex;
    flex-wrap: wrap;
}
.form-input_title{
    width: 100%;
    margin-bottom: 24px;
    font-weight: bold;
}
div.input{
    display: flex;
    flex-direction: column; 
    width: 35%;
    margin:24px 128px 0px 0px;
}
div.input label{
    font-size: 16px;
    font-weight: bold;
}


/* INPUT CONTROL - VALIDATION */
.form-input input{
    padding:8px;
    border: 1px solid #E5E7EB;
    border-radius:5px;
    font-size: 16px;
    -webkit-appearance: none;
}
.form-input input::placeholder{
    color: #dfe1e4;
}
.form-input input:focus{
    outline: none;
    border: 1px solid var(--form-focus-color);
}
.form-input input:focus:invalid, .form-input input:out-of-range{
    border: 1px solid var(--form-invalid-color);
    color: var(--form-invalid-color);
    box-shadow: none;
}

/* SUBMIT FIELD */
.form-submit{
    padding:64px;
    display: flex;
    flex-direction: column;
}
.submit-btn{
    width: 300px;
    background-color: var(--button-color);
    font-size: var(--button-font-size);
    color: var(--button-text-color);
    border: none;
    border-radius: 10px;
    padding: 8px;
}
.log-in{
    margin-top: 24px;
    font-size: 20px;
}